.anwg-popup-layout {
  border-radius: 16px;

  * {
    font-family: 'Inter', sans-serif;
  }
  
  height: 100vh;

  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: var(--additional-white, #FFF);

    background-color: var(--primary-600-base);

    &__left {
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--additional-white, #FFF);
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }

    &__settings-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
      
      color: var(--additional-white, #FFF);
    }

    &__switch {
      &[aria-checked="false"] {
        background-color: var(--additional-white, #FFF);

        .ant-switch-handle::before {
          background-color: var(--secondary-algal-fuel-500-base);
        }
      }

      &.ant-switch-checked {
        background-color: var(--secondary-algal-fuel-500-base);

        .ant-switch-handle::before {
          background-color: var(--additional-white, #FFF);
        }
      }
    }
  }

  &__body,
  .options-page-layout__body {
    padding: 24px;
    background-color: var(--greyscale-50, #F8FAFC);

    display: flex;
    flex-direction: column;
    gap: 12px;

    flex: 1 1 auto;
  }

  &__footer {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: var(--secondary-glamour-pink-500-base);
    background-color: var(--secondary-glamour-pink-50);
    
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.2px;

    cursor: pointer;

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}
