:root {
  --greyscale-50: #F8FAFC;
  --greyscale-100: #F1F5F9;
  --greyscale-500: #64748B;
  --greyscale-900: #0F172A;
  --primary-600-base: #2563EB;
  --primary-100: #DBEAFE;
  --primary-50: #EFF6FF;
  --additional-white: #FFFFFF;
  --secondary-amber-50: #FFFBEB;
  --secondary-amber-500-base: #F6A723;
  --secondary-algal-fuel-500-base: #24D164;
  --secondary-glamour-pink-50: #FDF2F8;
  --secondary-glamour-pink-500-base: #ED4F9D;
  --additional-sky: #38BDF8;
}
